#header-bg {
    width: 100%;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: #4ea0ff;
    background-size: 400px;
}
.logo {
    width: 180px;
    height: 100%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}