#header-bg {
    width: 100%;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-color: #4ea0ff;
    background-size: 400px;
}

.logo {
    width: 180px;
    height: 100%;
    background-image: url(../img/logo.svg);
    background-repeat: no-repeat;
    background-position: bottom;
}

h1 {
    font-size: 40pt;
}

#article-author, #article-date, h2{
    color: #787878;
}

a {
    color: #16a5e3;
    text-decoration: none;
}

figure {
    margin-left: 0%;
}

#highlight {
    background-color: yellow;
}

.row {
    display: flex;
    flex-direction: row;
    background-color: #b1e5f2;
    
}  
#head {
    background-color: #20a9e5;
    color: white;
    height: 20px;
    font-weight: 800;
}
.small {
    width: 24%;
    height: 55px;
}
    
.large {
    width: 50%;
     height: 55px;
}

#white {
    background-color: white;
}

aside > div {
    width: auto;
    height: 200px;
    background-repeat: no-repeat;
    margin-bottom: 5px;
} 

#first {
    background-image: url(../img/monitor.jpg);
}

#second {
    background-image: url(../img/graph.jpg);
}

.relatedlinks {
    color: white;
    font-size: 20pt;
    font-weight: 800;
}